.animation{
	transition: 1s ease all;
}

.txt-info-animation{
	transition: 1s all ease;
    transform: translateX(100%) scale(0);
}

.animation > div, label, input, button {
	transition: 0.7s ease all;
}

.ckb, .ckb > input, .rdo, .rdo > input {
	transition: all 0.6s ease;
}

.aba, .aba > input:after{
	transition: 0.5s all ease;
}

.btn:focus:not(:active)::after, .slct:focus:not(:active)::after {
	animation: ripple 0.8s ease-in-out;
}