body{
	border: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	height:100%;
	font-family: sans-serif;
	font-size:18px;
}

a, p{
	border: none;
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
}

.titulo{
	padding: 10px;
	margin: 0px 10px;
	text-align: center;
}

.logo{
	margin: 10px;
}

.point{
	cursor: pointer;
}

.point > label, div, input{
	cursor: inherit;
}

.mouseOver{
	opacity: 0.5;
}

.hMenu{
	justify-content: center;
	margin: 6px 0;
	padding: 4px 0;
}

.hMenuSelecionado{
	margin: 0 10px;
	box-shadow: -1px -1px 2px 1px;
}

.hMenuPadrao{
	margin: 0 10px;
	color: white;
	box-shadow: 2px 2px 2px 2px black;
    background: gray;
    transform: translateY(-2px);
}

.menu{
	border: 1px solid white;
	margin: 10px 40px 10px 10px;
	font-size: 30px;
    transform: rotate(90deg);
	color: white;
	background-color: black;
	cursor: pointer;
}

.menu:hover {
	background-color: #00BFFF;
}

.menu > label{
	vertical-align: super;
	padding: 5px;
	cursor: pointer;
}

/*.header{
	border-top: 10px solid black;
	border-bottom: 10px solid black;
	padding: 10px 0;
	width: 100%;
	background-color: #00BFFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
}*/

.no-border{
	border: none;
}

.tEsq{
	text-align: left;
	justify-content: flex-start;
	align-items: center;
}

.tCen{
	text-align: center;
	justify-content: center;
	align-items: center;
}

.tDir{
	text-align: right;
	justify-content: flex-end;
	align-items: center;
}

.jumbotron{
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	background-color: rgba(211, 211, 211, 0.7);
}

.hide{
	display: none!important;
}

.container{
	display: block;
}

.row{
	display: flex;
	width: inherit;
	flex-wrap: wrap;
}

.no-wrap{
	flex-wrap: nowrap;
}

.bg-blue{
	background-color: blue;
}

.bg-black{
	background-color: black;
}

.bg-white{
	background-color: white;
}

.bg-green{
	background-color: green;
}

.bg-yellow{
	background-color: yellow;
}

.bg-red{
	background-color: red;
}

.col{
	align-self: center;	
}

.col-1-16{
	width: 6.25%;
	align-self: center;
}

.col-2-16{
	width: 12.5%;
	align-self: center;
}

.col-3-16{
	width: 18.75%;
	align-self: center;
}

.col-4-16{
	width: 25%;
	align-self: center;
}

.col-5-16{
	width: 31.25%;
	align-self: center;
}

.col-6-16{
	width: 37.5%;
	align-self: center;
}

.col-7-16{
	width: 43.75%;
	align-self: center;
}

.col-8-16{
	width: 50%;
	align-self: center;
	height: inherit;
}

.col-9-16{
	width: 56.25%;
	align-items: center;
}

.col-10-16{
	width: 62.5%;
	align-items: center;
}

.col-11-16{
	width: 68.75%;
	align-items: center;
}

.col-12-16{
	width: 75%;
	align-items: center;
}

.col-13-16{
	width: 81.25%;
	align-items: center;
}

.col-14-16{
	width: 87.5%;
	align-items: center;
}

.col-15-16{
	width: 93.75%;
	align-items: center;
}

.col-16-16{
	width: 100%;
	align-items: center;
}

.col-1-3{
	width: 33.33333333%;
	align-items: center;
}

.col-1-5{
	width: 20%;
	align-items: center;
}