body{
	border: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	height:100%;
	font-family: sans-serif;
	font-size:18px;
}

.btn{
	border: 2px solid #00000061;
	border-radius: 4px;
	background-color: lightblue;
	outline: none;
}

.btn:hover{
	background-color: blue;
}

.square{
	width: 30px;
	height:30px;
}

select{
	border: none;
	background-color: lightblue;
	opacity:0.8;
	border-radius: 3px;
	height: 30px;
	outline: none;
}

select:active{

}

option:hover{
	background-color: black;
}

.titulo{
	padding: 10px;
	margin: 0px 10px;
	text-align: center;
}

.logo{
	margin: 10px;
}

.point{
	cursor: pointer;
}

.point > label, div, input{
	cursor: inherit;
}

.mouseOver{
	opacity: 0.5;
}

.hMenu{
	justify-content: center;
	margin: 6px 0;
	padding: 4px 0;
}

.hMenuSelecionado{
	margin: 0 10px;
	box-shadow: -1px -1px 2px 1px;
}

.hMenuPadrao{
	margin: 0 10px;
	color: white;
	box-shadow: 2px 2px 2px 2px black;
    background: gray;
    transform: translateY(-2px);
}

.menu{
	border: 1px solid white;
	margin: 10px 40px 10px 10px;
	font-size: 30px;
    transform: rotate(90deg);
	color: white;
	background-color: black;
	cursor: pointer;
}

.menu:hover {
	background-color: #00BFFF;
}

.menu > label{
	vertical-align: super;
	padding: 5px;
	cursor: pointer;
}

.header{
	border-top: 10px solid black;
	border-bottom: 10px solid black;
	padding: 10px 0;
	width: 100%;
	background-color: #00BFFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.jumbotron{
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	background-color: rgba(211, 211, 211, 0.7);
}

.tEsq{
	text-align: left;
	justify-content: flex-start;
}

.tCen{
	text-align: center;
	justify-content: center;
}

.tDir{
	text-align: right;
	justify-content: flex-end;
}

.hide{
	display: none!important;
}

.container{
	display: block;
	padding: 15px 8px;
}

.row{
	display: flex;
	margin: 3px 0;
}

.col{
	width: 100%;
	align-self: center;
}

.col-1-25{
	width: 4%;
	align-self: center;
}

.col-2-25{
	width: 8%;
	align-self: center;
}

.col-3-25{
	width: 12%;
	align-self: center;
}

.col-4-25{
	width: 16%;
	align-self: center;
}

.col-5-25{
	width: 20%;
	align-self: center;
}

.col-6-25{
	width: 24%;
	align-self: center;
}

.col-7-25{
	width: 28%;
	align-self: center;
}

.col-8-25{
	width: 32%;
	align-self: center;
}

.col-9-25{
	width: 36%;
	align-items: center;
}

.col-10-25{
	width: 40%;
	align-items: center;
}

.col-11-25{
	width: 44%;
	align-items: center;
}

.col-12-25{
	width: 48%;
	align-items: center;
}

.col-13-25{
	width: 52%;
	align-items: center;
}

.col-14-25{
	width: 56%;
	align-items: center;
}

.col-15-25{
	width: 60%;
	align-items: center;
}

.col-16-25{
	width: 64%;
	align-items: center;
}

.col-17-25{
	width: 68%;
	align-items: center;
}

.col-18-25{
	width: 72%;
	align-items: center;
}

.col-19-25{
	width: 76%;
	align-items: center;
}

.col-20-25{
	width: 80%;
	align-items: center;
}

.col-21-25{
	width: 84%;
	align-items: center;
}

.col-22-25{
	width: 88%;
	align-items: center;
}

.col-23-25{
	width: 92%;
	align-items: center;
}

.col-24-25{
	width: 96%;
	align-items: center;
}

.col-1-2{
	width: 50%;
	align-items: center;
}